#Iteration

In [1]:
teacher_name:list[str]=["Imran","irfan","yusuf","usman"]
i:int=0
while i<len(teacher_name):
    print(f'teacher name is {teacher_name[i]}')
    i+=1

teacher name is Imran
teacher name is irfan
teacher name is yusuf
teacher name is usman

In [4]:
data:list[tuple[str,int]]=[("ALi",23),("Yusuf",34),("Imran",67),("Wasif",98)]
input_user:str=input("ENter your username")
input_id=int(input("ENter your password"))
for i in data:
    user,password=(i)
    if(input_user==user and input_id==password):
        print(f'the name of user is {user} and password of user is {password}')
        break
else:
    print("Invalid Account")  #If loop breaks then else block of "for loop"  will be executed
print(f'It is not the part of "for" and "if" block')

ENter your username as
ENter your password 2

Invalid Account
It is not the part of "for" and "if" block

#Range
*range(start,end,step)

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#table of 2
for i in range(1,10,1):
    print(f'2 X {i} = {i*2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [28]:
# enumerate() generator function
display(teacher_name)
for i in enumerate(teacher_name):
    print(i)
display(data)
for i,v in enumerate(data):
    print(i,v)
for i,v in data:
    print(i,v)

['Imran', 'irfan', 'yusuf', 'usman']

(0, 'Imran')
(1, 'irfan')
(2, 'yusuf')
(3, 'usman')

[('ALi', 23), ('Yusuf', 34), ('Imran', 67), ('Wasif', 98)]

0 ('ALi', 23)
1 ('Yusuf', 34)
2 ('Imran', 67)
3 ('Wasif', 98)
ALi 23
Yusuf 34
Imran 67
Wasif 98

#List Comprehension

In [30]:
a:list[int]=[]
for i in range(1,5,1):
    square=i**2
    a.append(square)
a

[1, 4, 9, 16]

In [32]:
[i**2 for i in range(1,5,1)]

[1, 4, 9, 16]

In [40]:
# min
# max
# sum
integer:list[int]=[i**2 for i in range(1,7,1)]
display(integer)
display(min(integer))
display(max(integer))
display(sum(integer))

[1, 4, 9, 16, 25, 36]

1

36

91

In [45]:
int2=integer[:] #deep copy,make indivisual object copy,it is because of slicing
display(int2)
display(integer)
int2[0]=5444
display(int2)
display(integer)

[1, 4, 9, 16, 25, 36]

[1, 4, 9, 16, 25, 36]

[5444, 4, 9, 16, 25, 36]

[1, 4, 9, 16, 25, 36]

Tuple

In [52]:
# tuple is immutable and we can only slice it
tuple_arr:tuple[str]=("Talha","Joiya","ALi")
display(tuple_arr[:])
display(tuple_arr[1:3])
display(tuple_arr[-1:-3:-1])

('Talha', 'Joiya', 'ALi')

('Joiya', 'ALi')

('ALi', 'Joiya')

In [53]:
tuple_arr[0]="Pakistan"

TypeError: 'tuple' object does not support item assignment

In [60]:
from typing import Any
tupledata:list[Any]=["Joiya",[3,5,6],23]
tupledata[1].append(33434) #this is object not tuple
tupledata

['Joiya', [3, 5, 6, 33434], 23]