In [1]:
%pip install lxml

Requirement already satisfied: lxml in c:\users\mtalh\anaconda3\envs\python12\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
dataFrameOperator=pd.read_html("https://www.w3schools.com/python/python_operators.asp")
arithmaticoperator=dataFrameOperator[0]
arithmaticoperator

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
a:int=2
b:int=4
display(b**a)

16

In [4]:
# floor division
display(b//a)
display(b/a)
display(4.2//a)

2

2.0

2.0

In [5]:
# modulus operator 
display(10/4)

2.5

In [6]:
assignmentoperator=dataFrameOperator[1]
assignmentoperator

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [7]:
comparsionoperator=dataFrameOperator[2]
comparsionoperator

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [8]:
Identityoperator=dataFrameOperator[3]
Identityoperator

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [9]:
name:str="Talha"
if(not name=="talha"):
    print("Hello")
else:
    print("Salam")

Hello

In [10]:
'give ASCII code'
display(ord("A"))
display(chr(65))

65

'A'

In [11]:
age=2
height=2
# physical address are same 
display(id(age))
display(id(height))

140725110589912

140725110589912

In [12]:
if(age is height):
    print("True result")
    
age is height

True result

True

In [13]:
if(age is not height):
    print("true result")
else:
    print("False result")

False result

In [14]:
Membershipoperator=dataFrameOperator[5]
Membershipoperator

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [15]:
char_arr:list[str]=[chr(i) for i in range(65,80)]
# method1
for i in range(len(char_arr)):
    print(i,char_arr[i])
    if char_arr[i]=="D":
        print("True")
        break
# method2
if("D" in char_arr):
    print("true")
else:
    print("False")

0 A
1 B
2 C
3 D
True
true

In [16]:
char_arr
if("talha" not in char_arr):
    print("Talha is not included in the list")
else:
    print("das")

Talha is not included in the list

In [17]:
# PEMDAS

In [24]:
"talha",3,5

('talha', 3, 5)

In [25]:
data="talha",3,5
display(*data)

'talha'

3

5

In [27]:
# Walrus Operator
a=5
if(a<(b:=a+5)):
    print(b)
else:
    print("False")

10

In [28]:
b

10