In [2]:
print("Muhammad Talha")

Muhammad Talha

In [3]:
name:str = "Muhammad Talha"
father_name:str = " Abdul Rehman"

In [4]:
#Concatenation
# In concatenation datatype should be same while concatination
print(name + father_name)

Muhammad Talha Abdul Rehman

In [5]:
# Multiline string
print(""" Muhammad Talha
Abdul Rehman
PIAIC""")

 Muhammad Talha
Abdul Rehman
PIAIC

In [9]:
# fstring methods
#method1
print(f""" name:{name}
fathername:{father_name}""")
# method2
print("""
my name is {a}
my father name is {b}
""".format(a=name,b=father_name))

 name:Muhammad Talha
fathername: Abdul Rehman

my name is Muhammad Talha
my father name is  Abdul Rehman

In [10]:
print("my name is {a}".format(a=name))

my name is Muhammad Talha

In [30]:
name2:str="      Muhammad Talha     "
display(name2)
# display(name2.lstrip())
# display(name2.rstrip())
display(name2.capitalize())
# capitalize the letter of every words
display(name2.title())  
display(name2.upper())
display(name2.lower())
display(name2.strip())

'      Muhammad Talha     '

'      muhammad talha     '

'      Muhammad Talha     '

'      MUHAMMAD TALHA     '

'      muhammad talha     '

'Muhammad Talha'

In [34]:
import re
name3:str="        Muhammad             Ali            "
display(name3)
strdata:str=re.sub(" {2,100}"," ",name3)
display(strdata)
display(strdata.strip())

'        Muhammad             Ali            '

' Muhammad Ali '

'Muhammad Ali'

In [35]:
url:str="http://localhost:3000"
display(url.removeprefix("http://"))

'localhost:3000'